.Preview{
    margin: 1em;
    border: 1px solid #ccc;

    .category-name {
    border-bottom: 2px solid purple;
    padding: 0.25em 0.5em;
    font-weight: bold;
    background-color: #eee;
  }

  .contest-name {
    padding: 0.9em;
  }
}